interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://payex.companyweb.be/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        targetNamespace="http://payex.companyweb.be/" name="PaymentExperienceService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified" targetNamespace="http://payex.companyweb.be/"><xs:import
        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import
        namespace="http://schemas.datacontract.org/2004/07/System"/><xs:element name="Step1_StartTransaction"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="request" type="tns:RequestStep1"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="Step1_StartTransactionResponse"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="Step1_StartTransactionResult" type="tns:ResponseStep1"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="Step2_SendBatch"><xs:complexType><xs:sequence><xs:element minOccurs="0"
        maxOccurs="1" name="r[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetPreviousPeriod
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:SupplierVat>BE0835207216</ns0:SupplierVat><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>c86bc0c070a0aedc6138a3a9091c7daa5b4280c4</ns0:LoginHash></ns0:request></ns0:GetPreviousPeriod></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/GetPreviousPeriod"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetPreviousPeriodResponse
        xmlns="http://payex.companyweb.be/"><GetPreviousPeriodResult xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><PreviousMonth>0</PreviousMonth><PreviousYear>0</PreviousYear><PreviousPeriodExists>false</PreviousPeriodExists></GetPreviousPeriodResult></GetPreviousPeriodResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step1_StartTransaction
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:PeriodMonth>12</ns0:PeriodMonth><ns0:PeriodYear>2021</ns0:PeriodYear><ns0:PackageVersion>14.0.1.0.1&amp;14.0.1.0.1</ns0:PackageVersion><ns0:SupplierVat>BE0835207216</ns0:SupplierVat><ns0:EmailAddress>test@odoo.com</ns0:EmailAddress><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>c86bc0c070a0aedc6138a3a9091c7daa5b4280c4</ns0:LoginHash></ns0:request></ns0:Step1_StartTransaction></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step1_StartTransaction"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><Step1_StartTransactionResponse
        xmlns="http://payex.companyweb.be/"><Step1_StartTransactionResult xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><TransactionKey>986df613-7174-ec11-80de-5820b1012b53</TransactionKey></Step1_StartTransactionResult></Step1_StartTransactionResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step2_SendBatch
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>986df613-7174-ec11-80de-5820b1012b53</ns0:TransactionKey><ns0:InvoicesList><ns0:InvoiceRequest><ns0:InvoiceNumber>725</ns0:InvoiceNumber><ns0:VatNumber>BE0458.662.817</ns0:VatNumber><ns0:OpenAmount>1000.0</ns0:OpenAmount><ns0:InvoiceDate>20220113</ns0:InvoiceDate><ns0:ExpirationDate>20220113</ns0:ExpirationDate></ns0:InvoiceRequest></ns0:InvoicesList><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>c86bc0c070a0aedc6138a3a9091c7daa5b4280c4</ns0:LoginHash></ns0:request></ns0:Step2_SendBatch></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step2_SendBatch"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><Step2_SendBatchResponse
        xmlns="http://payex.companyweb.be/"><Step2_SendBatchResult xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><TransactionKey>986df613-7174-ec11-80de-5820b1012b53</TransactionKey></Step2_SendBatchResult></Step2_SendBatchResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step3_GetSummary
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>986df613-7174-ec11-80de-5820b1012b53</ns0:TransactionKey><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>c86bc0c070a0aedc6138a3a9091c7daa5b4280c4</ns0:LoginHash></ns0:request></ns0:Step3_GetSummary></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step3_GetSummary"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><Step3_GetSummaryResponse
        xmlns="http://payex.companyweb.be/"><Step3_GetSummaryResult xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><TransactionKey>986df613-7174-ec11-80de-5820b1012b53</TransactionKey><InvoicesSummary><NumberOfLinesRecieved>1</NumberOfLinesRecieved><NumberOfLinesAccepted>1</NumberOfLinesAccepted><TotalOpenAmountOfLinesAccepted>1000.0000</TotalOpenAmountOfLinesAccepted><LinesWithInvalidVatNumber>0</LinesWithInvalidVatNumber><LinesWithInvalidInvoiceNumber>0</LinesWithInvalidInvoiceNumber><LinesWithInvalidInvoiceDate>0</LinesWithInvalidInvoiceDate><LinesWithInvalidExpirationDate>0</LinesWithInvalidExpirationDate><LinesWithInvalidOpenAmount>0</LinesWithInvalidOpenAmount></InvoicesSummary></Step3_GetSummaryResult></Step3_GetSummaryResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step4_CommitTransaction
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>986df613-7174-ec11-80de-5820b1012b53</ns0:TransactionKey><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>c86bc0c070a0aedc6138a3a9091c7daa5b4280c4</ns0:LoginHash></ns0:request></ns0:Step4_CommitTransaction></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step4_CommitTransaction"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><Step4_CommitTransactionResponse
        xmlns="http://payex.companyweb.be/"><Step4_CommitTransactionResult xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><TransactionKey>986df613-7174-ec11-80de-5820b1012b53</TransactionKey></Step4_CommitTransactionResult></Step4_CommitTransactionResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
