interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"http://payex.companyweb.be/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\" xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\"
        xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"http://payex.companyweb.be/\"
        name=\"PaymentExperienceService\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"http://payex.companyweb.be/\">\r\n
        \     <xsd:import namespace=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"
        />\r\n      <xsd:import namespace=\"http://schemas.datacontract.org/2004/07/System\"
        />\r\n      <xsd:element name=\"Step1_StartTransaction\">\r\n        <xsd:complexType>\r\n
        \         <xsd:sequence>\r\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"request\" type=\"tns:RequestStep1\" />\r\n          </xsd:sequence>\r\n
        \       </xsd:complexType>\r\n      </xsd:element>\r\n      <xsd:element name=\"Step1_StartTransactionResponse\">\r\n
        \       <xsd:complexType>\r\n          <xsd:sequence>\r\n            <xsd:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Step1_StartTransactionResult\" type=\"tns:ResponseStep1\"
        />\r\n          </xsd:s[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetPreviousPeriod
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:SupplierVat>BE0835207216</ns0:SupplierVat><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>99c9bfc96b4da35c6452d0f8681a2edefb89d243</ns0:LoginHash></ns0:request></ns0:GetPreviousPeriod></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/GetPreviousPeriod"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "\uFEFF<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <s:Body>\r\n    <GetPreviousPeriodResponse xmlns=\"http://payex.companyweb.be/\">\r\n
        \     <GetPreviousPeriodResult>\r\n        <StatusCode>0</StatusCode>\r\n
        \       <StatusMessage>Success</StatusMessage>\r\n        <PreviousMonth>0</PreviousMonth>\r\n
        \       <PreviousYear>0</PreviousYear>\r\n        <PreviousPeriodExists>false</PreviousPeriodExists>\r\n
        \     </GetPreviousPeriodResult>\r\n    </GetPreviousPeriodResponse>\r\n  </s:Body>\r\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step1_StartTransaction
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:PeriodMonth>02</ns0:PeriodMonth><ns0:PeriodYear>2024</ns0:PeriodYear><ns0:PackageVersion>17.0.1.0.0&amp;17.0.1.0.0</ns0:PackageVersion><ns0:SupplierVat>BE0835207216</ns0:SupplierVat><ns0:EmailAddress>test@odoo.com</ns0:EmailAddress><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>99c9bfc96b4da35c6452d0f8681a2edefb89d243</ns0:LoginHash></ns0:request></ns0:Step1_StartTransaction></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step1_StartTransaction"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "\uFEFF<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <s:Body>\r\n    <Step1_StartTransactionResponse xmlns=\"http://payex.companyweb.be/\">\r\n
        \     <Step1_StartTransactionResult>\r\n        <StatusCode>0</StatusCode>\r\n
        \       <StatusMessage>Success</StatusMessage>\r\n        <TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</TransactionKey>\r\n
        \     </Step1_StartTransactionResult>\r\n    </Step1_StartTransactionResponse>\r\n
        \ </s:Body>\r\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step2_SendBatch
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</ns0:TransactionKey><ns0:InvoicesList><ns0:InvoiceRequest><ns0:InvoiceNumber>29</ns0:InvoiceNumber><ns0:VatNumber>BE0458.662.817</ns0:VatNumber><ns0:OpenAmount>1150.0</ns0:OpenAmount><ns0:InvoiceDate>20220113</ns0:InvoiceDate><ns0:ExpirationDate>20240311</ns0:ExpirationDate></ns0:InvoiceRequest></ns0:InvoicesList><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>99c9bfc96b4da35c6452d0f8681a2edefb89d243</ns0:LoginHash></ns0:request></ns0:Step2_SendBatch></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step2_SendBatch"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "\uFEFF<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <s:Body>\r\n    <Step2_SendBatchResponse xmlns=\"http://payex.companyweb.be/\">\r\n
        \     <Step2_SendBatchResult>\r\n        <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</TransactionKey>\r\n
        \     </Step2_SendBatchResult>\r\n    </Step2_SendBatchResponse>\r\n  </s:Body>\r\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step3_GetSummary
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</ns0:TransactionKey><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>99c9bfc96b4da35c6452d0f8681a2edefb89d243</ns0:LoginHash></ns0:request></ns0:Step3_GetSummary></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step3_GetSummary"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "\uFEFF<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <s:Body>\r\n    <Step3_GetSummaryResponse xmlns=\"http://payex.companyweb.be/\">\r\n
        \     <Step3_GetSummaryResult>\r\n        <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</TransactionKey>\r\n
        \       <InvoicesSummary>\r\n          <NumberOfLinesRecieved>1</NumberOfLinesRecieved>\r\n
        \         <NumberOfLinesAccepted>1</NumberOfLinesAccepted>\r\n          <TotalOpenAmountOfLinesAccepted>1150.0000</TotalOpenAmountOfLinesAccepted>\r\n
        \         <LinesWithInvalidVatNumber>0</LinesWithInvalidVatNumber>\r\n          <LinesWithInvalidInvoiceNumber>0</LinesWithInvalidInvoiceNumber>\r\n
        \         <LinesWithInvalidInvoiceDate>0</LinesWithInvalidInvoiceDate>\r\n
        \         <LinesWithInvalidExpirationDate>0</LinesWithInvalidExpirationDate>\r\n
        \         <LinesWithInvalidOpenAmount>0</LinesWithInvalidOpenAmount>\r\n        </InvoicesSummary>\r\n
        \     </Step3_GetSummaryResult>\r\n    </Step3_GetSummaryResponse>\r\n  </s:Body>\r\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Step4_CommitTransaction
      xmlns:ns0="http://payex.companyweb.be/"><ns0:request><ns0:TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</ns0:TransactionKey><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>99c9bfc96b4da35c6452d0f8681a2edefb89d243</ns0:LoginHash></ns0:request></ns0:Step4_CommitTransaction></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://payex.companyweb.be/PaymentExperienceService/Step4_CommitTransaction"'
    method: POST
    uri: https://payex.companyweb.be/v1/PaymentExperienceService.asmx
  response:
    body:
      string: "\uFEFF<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <s:Body>\r\n    <Step4_CommitTransactionResponse xmlns=\"http://payex.companyweb.be/\">\r\n
        \     <Step4_CommitTransactionResult>\r\n        <StatusCode>0</StatusCode>\r\n
        \       <StatusMessage>Success</StatusMessage>\r\n        <TransactionKey>c4dbea94-b8df-ee11-8b9d-005056937d8c</TransactionKey>\r\n
        \     </Step4_CommitTransactionResult>\r\n    </Step4_CommitTransactionResponse>\r\n
        \ </s:Body>\r\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
