interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.companyweb.be/V1.3/alacarteservice.asmx
  response:
    body:
      string: <wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://connect.companyweb.be/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        targetNamespace="http://connect.companyweb.be/" name="AlacarteServiceV1_3"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified" targetNamespace="http://connect.companyweb.be/"><xs:import
        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import
        namespace="http://schemas.datacontract.org/2004/07/System"/><xs:element name="GetCompanyByVat"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="request" type="tns:RequestCompanyByVat"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="GetCompanyByVatResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0"
        maxOccurs="1" name="GetCompanyByVatResult" type="tns:ResponseCompanyByVatV1_3"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="SearchCompanies"><xs:complexType><xs:sequence><xs:element minOccurs="0"
        maxOccurs="1" nam[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetCompanyByVat
      xmlns:ns0="http://connect.companyweb.be/"><ns0:request><ns0:VatNumber>BE0405056855</ns0:VatNumber><ns0:Language>FR</ns0:Language><ns0:CompanyWebLogin>cwebtestlogin</ns0:CompanyWebLogin><ns0:CompanyWebPassword>cwebtestpassword</ns0:CompanyWebPassword><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>f6044cbfa65a16bb8496893c032e8b9c80fe145b</ns0:LoginHash></ns0:request></ns0:GetCompanyByVat></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://connect.companyweb.be/AlacarteServiceV1_3/GetCompanyByVat"'
    method: POST
    uri: https://connect.companyweb.be/V1.3/alacarteservice.asmx
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><s:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetCompanyByVatResponse
        xmlns=\"http://connect.companyweb.be/\"><GetCompanyByVatResult xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><StatusCode>0</StatusCode><StatusMessage>Success</StatusMessage><CompanyResponse><MetaData><RemainingHits>249</RemainingHits></MetaData><PreferredLanguages><IsEnabled>true</IsEnabled><Value><UsesDutch>true</UsesDutch><UsesFrench>false</UsesFrench><UsesGerman>false</UsesGerman><LanguageString>nl</LanguageString></Value></PreferredLanguages><VatNumber><IsEnabled>true</IsEnabled><Value>405056855</Value></VatNumber><VatEnabled><IsEnabled>true</IsEnabled><Value>true</Value></VatEnabled><CompanyName><IsEnabled>true</IsEnabled><Value>Scheerders
        van Kerchove's Verenigde Fabrieken</Value></CompanyName><CommercialName><IsEnabled>false</IsEnabled><Value/></CommercialName><ShortName><IsEnabled>false</IsEnabled><Value/></ShortName><LegalForm><IsEnabled>true</IsEnabled><Value><Abbreviation>SA</Abbreviation><Code>14</Code></Value></LegalForm><Address><IsEnabled>true</IsEnabled><Value><Street>Aerschotstraat</Street><HouseNumber>114</HouseNumber><PostalCode>9100</PostalCode><City>Sint-Niklaas</City><CountryCode>be</CountryCode><Line1>Aerschotstraat
        114</Line1><Line2>9100 Sint-Niklaas</Line2></Value></Address><TelephoneNumber><IsEnabled>false</IsEnabled></TelephoneNumber><CompanyStatus><IsEnabled>true</IsEnabled><Value><Code>0</Code><Info>Actif</Info></Value></CompanyStatus><StartDate><IsEnabled>true</IsEnabled><Value>19280929</Value></StartDate><EndDate><IsEnabled>true</IsEnabled><Value>0</Value></EndDate><Score><IsEnabled>true</IsEnabled><Value><Info>score</Info><ScoreImage>pos-03.png</ScoreImage><ScoreAsInt>3</ScoreAsInt><ScoreAsDecimal>0.3</ScoreAsDecimal></Value></Score><CreditLimit><IsEnabled>true</IsEnabled><Value><Limit>1321000</Limit><Code>0</Code><Info/></Value></CreditLimit><PaymentExperience><IsEnabled>false</IsEnabled></PaymentExperience><WarningsOverview><IsEnabled>true</IsEnabled><Value><Warnings><string>Liquidit\xE9
        au sens strict &lt; 0.65 (\xB02017) (\xB02018) (\xB02019)</string></Warnings><Url>https://www.companyweb.be/company/405056855/warnings</Url></Value></WarningsOverview><CurrentManagement><IsEnabled>false</IsEnabled></CurrentManagement><ExternalManagement><IsEnabled>false</IsEnabled></ExternalManagement><MainActivity><IsEnabled>false</IsEnabled></MainActivity><Activities><IsEnabled>false</IsEnabled></Activities><Establishments><IsEnabled>false</IsEnabled></Establishments><JointCommitees><IsEnabled>false</IsEnabled></JointCommitees><SocialSecurityInformation><IsEnabled>false</IsEnabled></SocialSecurityInformation><ParentCompanies><IsEnabled>false</IsEnabled></ParentCompanies><SubsidiaryCompanies><IsEnabled>false</IsEnabled></SubsidiaryCompanies><SocialSecuritySummons><IsEnabled>false</IsEnabled></SocialSecuritySummons><JudicialAgreements><IsEnabled>false</IsEnabled></JudicialAgreements><Curators><IsEnabled>false</IsEnabled></Curators><BankruptcyOpen><IsEnabled>false</IsEnabled></BankruptcyOpen><BankruptcyClose><IsEnabled>false</IsEnabled></BankruptcyClose><DetailUrl><IsEnabled>true</IsEnabled><Value>https://www.companyweb.be/company/405056855</Value></DetailUrl><ReportUrl><IsEnabled>true</IsEnabled><Value>https://reporting.companyweb.be/rappLoad.asp?lang=F&amp;login=ACSONESOAP&amp;vat=405056855&amp;key=12604a43a7fd63ee823752b8d9c2fd31</Value></ReportUrl><CustomReportUrl><IsEnabled>false</IsEnabled></CustomReportUrl><BalanceUrl><IsEnabled>false</IsEnabled><Value/></BalanceUrl><Publications><IsEnabled>false</IsEnabled></Publications><Balances><IsEnabled>true</IsEnabled><Value><Balans><BookYear>2019</BookYear><BalansData><BalansData><Key>CloseDate</Key><Value>2019-12-31</Value></BalansData><BalansData><Key>Rub10_15</Key><Value>23086258</Value></BalansData><BalansData><Key>Rub70</Key><Value>46825985</Value></BalansData><BalansData><Key>Rub9087</Key><Value>247.9</Value></BalansData><BalansData><Key>Rub9800</Key><Value>18226650</Value></BalansData><BalansData><Key>Rub9904</Key><Value>41206</Value></BalansData></BalansData></Balans></Value></Balances><KycLinkedEntities><IsEnabled>false</IsEnabled></KycLinkedEntities></CompanyResponse></GetCompanyByVatResult></GetCompanyByVatResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
